.viewAllBg{
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    padding:10px;
}
.viewTableStyle td{
 padding:5px;
}
.viewMapStyle{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px 45px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
agm-map {
    height: 550px ;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
 .mapCenter{
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 295px;
  padding: 10px;
 }
 .transportTable tr td, .transportTable tr th{
   padding: 5px;
   border: 1px solid #fff;
 }
 .transportTable{
  width:100%;
 }
 .divScroll{
  width:100%;
 height: 295px;
  /* overflow-x : scroll; */
  overflow-y:scroll;
 }