<div class="bgColorHeight">
  <div style="margin-top: 67px;">
    <div class="row-fluid">
      <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
        <div class="positionRelative">

          <div style="border:1px solid #ddd;border-radius:6px;">
            <!-- <app-map></app-map> -->
            <!-- <img  src="markers[0].iconUrl">
                {{markers[0].iconUrl}}
               <img src="../assets/images/light_on.png">
               <img src="assets/images/lightOn.png"> -->
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status,m.collectionBill,m.bandwidth,m.lightStatus)"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl"
                (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                  <div class="tooltipData" *ngIf="!viewBusTransport">
                    <strong class="text-center" style="color:red;text-align: center !important;
                          display: inherit;">Report Status</strong>
                    <strong>
                      <hr class="hrStyle1" />
                    </strong>
                    <strong>Area: {{ info1 }}</strong>
                    <br>
                    <strong>Type: {{type}}</strong>
                    <br>
                    <strong *ngIf="type == 'Parking Availability'">Total Capacity
                      <span *ngIf="type == 'Parking Availability'">:</span> {{previousReading+currentReading}}</strong>
                    <br *ngIf="type == 'Parking Availability'">
                    <strong>{{typeOfData.first}}
                      <span *ngIf="typeOfData.first">:</span> {{previousReading}}</strong>
                    <span *ngIf="type == 'Water Distributed'">GPM</span>
                    <span *ngIf="type == 'Waste Management'">%</span>
                    <br *ngIf="typeOfData.first">
                    <strong>{{typeOfData.secound}}
                      <span *ngIf="typeOfData.first">:</span> {{currentReading}}</strong>
                    <span *ngIf="type == 'Water Distributed'">GPM</span>
                    <span *ngIf="type =='Waste Management'">%</span>
                    <br *ngIf="typeOfData.first">


                    <strong *ngIf="bandwidth">{{bandwidthkey}}
                      <span *ngIf="bandwidth"> </span> {{bandwidth}}</strong>
                    <br *ngIf="bandwidth">


                    <!-- <strong>Time: {{time}}</strong> <br> -->
                    <strong *ngIf="type != 'Water Distributed'"> Status: {{status}}</strong>
                    <br *ngIf="type != 'Water Distributed'">

                  </div>
                  <div class="tooltipData" *ngIf="viewBusTransport" style="border: 2px solid #000">
                    <table border="1" class="transportTable">
                      <tr style="background: #96c7f1;">
                        <th colspan="3" class="text-center">
                          {{info1}}
                        </th>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Stop Code</td>
                        <td colspan="2">{{previousReading}}</td>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Bus No.</td>
                        <td>Route No.</td>
                        <td>Estimated Time</td>
                      </tr>
                      <tr *ngFor="let bus of currentReading" style="background: #DEE8F5">
                        <td>{{bus.busNum}}</td>
                        <td>{{bus.routeNO}}</td>
                        <td>{{bus.estimatedTime}}</td>
                      </tr>
                    </table>


                  </div>
                </agm-info-window>

              </agm-marker>

              <!-- <agm-circle [latitude]="lat + 0.1" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                  </agm-circle> -->
            </agm-map>
            <!-- <div>
                      <select class="f-size16 viewMapStyle" style="border-color: #1f1c1c; font-weight: bold; font-size: 18px;" (change)="pressureChanged($event.target.value)">
                        <option class="color-000" *ngFor="let i of cityArray">{{i}}</option>
                      </select>
                </div> -->



          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">


        <div id="tabsArea" class="multitabs parentTabs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <!-- <h3 class="panel-title">Panel title</h3> -->
              <ul class="list-inline panel-actions">
                <li>
                  <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                    <i class="glyphicon glyphicon-resize-full"></i>
                  </a>
                </li>
              </ul>

              <ul class="nav nav-tabs" id="assertdashboard">
                <li class="active" data-toggle="tooltip" title="All Assets">
                  <a data-toggle="tab" href="#tab1" (click)="showIOTDevice(city)" class="text-capitalize">All Assets</a>
                </li>
                <li data-toggle="tooltip" title="Smart Parking">
                  <a data-toggle="tab" href="#tab2" (click)="smartParking(city)" class="text-capitalize hidentxt">Smart Parking</a>
                </li>
                <li data-toggle="tooltip" title="Smart Pole">
                  <a data-toggle="tab" href="#tab3" (click)="smartLight(city)" class="text-capitalize">Smart Pole</a>
                </li>
                <li data-toggle="tooltip" title="Smart water distribution">
                  <a data-toggle="tab" href="#tab4" (click)="smartWater(city)" class="text-capitalize hidentxt">Smart water distribution</a>
                </li>

                <li data-toggle="tooltip" title="Smart WiFi">
                  <a data-toggle="tab" href="#tab6" (click)="smartWiFi(city)" class="text-capitalize">Smart WiFi</a>
                </li>
                <li data-toggle="tooltip" title="Waste Management">
                  <a data-toggle="tab" href="#tab7" (click)="smartWastManagement(city)" class="text-capitalize hidentxt">Waste Management</a>
                </li>
                <li data-toggle="tooltip" title="Smart Transport">
                  <a data-toggle="tab" href="#tab8" (click)="smartTransport(city)" class="text-capitalize hidentxt">Smart Transport</a>

                </li>
              </ul>

            </div>
            <div class="panel-body">
              <div class="tab-content chartContent">
                <div id="tab1" class="tab-pane fade in active ">
                  <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" title="IOT Devices Status">
                      <a data-toggle="tab" href="#chaildtab1" class="text-capitalize">IOT Devices Status</a>
                    </li>
                    <li data-toggle="tooltip" title="Wired Devices Status">
                      <a data-toggle="tab" href="#chaildtab2" class="text-capitalize">Wired Devices Status</a>
                    </li>
                    <li data-toggle="tooltip" title="Maintenance Status">
                      <a data-toggle="tab" href="#chaildtab3" class="text-capitalize">Maintenance Status</a>
                    </li>

                  </ul>

                  <div class="tab-content chartContent ">
                    <div id="chaildtab1" class="tab-pane fade in active">


                      <div class="divCenter">
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                      </div>


                    </div>
                    <div id="chaildtab2" class="tab-pane fade in ">


                      <div class="divCenter">
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single1" [gradient]="gradient" [xAxis]="showXAxis"
                          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                      </div>
                    </div>
                    <div id="chaildtab3" class="tab-pane fade in  ">

                      <div class="divCenter" style="margin-bottom:0px;">
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single2" [gradient]="gradient" [xAxis]="showXAxis"
                          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                      </div>


                    </div>
                  </div>


                </div>
                <div id="tab2" class="tab-pane fade in">
                  <!-- <h3>Parking Details</h3>
                  <div *ngIf="info1"><strong>Area: </strong>{{ info1 }} <br>
                  <strong>Type: </strong>{{type}} <br>
                  <strong>Previous Reading: </strong> {{previousReading}}<br>
                  <strong>Current Reading:</strong>  {{currentReading}}<br>
                 
                </div> 
                <div *ngIf="!info1">
               No Parking Details
                </div> -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height: 375px;">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="smartParkingCenter">
                        <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="single4" [gradient]="gradient" (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                        <!-- <ngx-charts-bar-vertical
                      [view]="wifiusing"
                      [scheme]="colorScheme"
                      [results]="single"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical> -->
                      </div>

                    </div>
                  </div>

                </div>
                <div id="tab3" class="tab-pane fade in ">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                    <!-- <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div> -->
                    <div class="p-20">
                      <div class="smartParkingCenter">
                        <!-- <ngx-charts-bar-vertical
                          [view]="wifiusing"
                          [scheme]="colorScheme"
                          [results]="single"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          (select)="onSelect($event)">
                        </ngx-charts-bar-vertical> -->
                        <ngx-charts-advanced-pie-chart
                        [view]="view11"
                        [scheme]="colorScheme"
                        [results]="lights"
                        [gradient]="gradient"
                        (select)="onSelect($event)">
                      </ngx-charts-advanced-pie-chart>
                      </div>
                      <!-- <div class="f-size20 color-sky ">
                            Pole Status
                          </div> -->
                      <!-- <div class="divScroll">
                            <table border="1" class="table table-responsive tableBorderStyle ">
                              <tr>
                                <th class="color-maroon">Area</th>
                                <th class="color-maroon"> Status</th>
                                <th class="color-maroon">On/Off</th>
                              </tr>
                              <tr *ngFor="let show of markers ; let i= index">
                                <td>{{show.info}}</td>
                                <td>{{show.status}}</td>
                                <td>
                                 <button *ngIf="show.lightStatus == 'yes'" (click)="updateLightStat(show, 'on')" >On</button>
                                  <button *ngIf="show.lightStatus == 'no'" (click)="updateLightStat(show, 'off')" >Off</button></td>
                              </tr>
                                 
                          </table>
                          </div> -->

                    </div>
                  </div>

                </div>
                <div id="tab4" class="tab-pane fade">
                  <ul class="nav nav-tabs">
                    <!-- <li class="active" data-toggle="tooltip" title="Bridge/Road Collapse">
                          <a data-toggle="tab" href="#watertab1" class="text-capitalize">Water distribution</a>
                        </li> -->
                    <li class="active" data-toggle="tooltip" title="Distribute In City">
                      <a data-toggle="tab" href="#watertab2" class="text-capitalize">Distribute In City </a>
                    </li>
                    <li data-toggle="tooltip" title="Bill Collection">
                      <a data-toggle="tab" href="#watertab3" class="text-capitalize"> Bill Collection </a>
                    </li>

                  </ul>
                  <div class="tab-content chartContent">
                    <!-- <div id="watertab1" class="tab-pane fade in active">
                             
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10">
                                  <div class="f-size20 p10 titleArea">{{info1}}</div>
                                  <div class="p-20">
                                  <div class="">
                                      <ngx-charts-pie-chart
                                      [view]="waterview"
                                      [scheme]="colorScheme"
                                      [results]="waterFlow"
                                      [legend]="showLegend"
                                      [explodeSlices]="explodeSlices"
                                      [labels]="showLabels"
                                      [doughnut]="doughnut"
                                      [gradient]="gradient"
                                      (select)="onSelect($event)">
                                    </ngx-charts-pie-chart>
                                   
                                  </div>
                                  
                                    </div>
                                </div>
                        </div> -->
                    <div id="watertab2" class="tab-pane fade in active">

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                        <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                        <div class="p-20">
                          <div class="coimbaterCenter">
                            <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="waterViewDetails" [gradient]="gradient"
                              (select)="onSelect($event)">
                            </ngx-charts-advanced-pie-chart>

                          </div>

                        </div>
                      </div>
                    </div>

                    <div id="watertab3" class="tab-pane fade in">

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10">
                        <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                        <div class="p-20">
                          <div class="divCenter">

                            <ngx-charts-bar-vertical [view]="viewforWaterDistrib" [scheme]="colorScheme" [results]="waterBillMonthWise" [gradient]="gradient"
                              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                            </ngx-charts-bar-vertical>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>

                <div id="tab6" class="tab-pane fade">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="smartWifi">
                        <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="wifiavil" [gradient]="gradient" (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                      </div>

                    </div>
                  </div>




                </div>
                <div id="tab7" class="tab-pane fade">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="smartWifi">
                        <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="single4" [gradient]="gradient" (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                      </div>

                    </div>
                  </div>




                </div>
                <div id="tab8" class="tab-pane fade">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="coimbaterCenter11">
                        <!-- <table border="1" class="transportTable">
                              <tr style="background: #96c7f1;">
                                <th colspan="3" class="text-center">
                                {{info1}}
                                </th>
                              </tr>                            
                               
                                <tr style="background: #96c7f1;">
                                  <td>Bus No.</td>
                                  <td>Route No.</td>
                                  <td>Estimated Time</td>
                                </tr>
                                <tr *ngFor="let bus of currentReadingData" style="background: #DEE8F5">
                                  <td>{{bus.busNum}}</td>
                                  <td>{{bus.routeNO}}</td>
                                  <td>{{bus.estimatedTime}}</td>
                                </tr>
                            </table> -->
                        <ngx-charts-advanced-pie-chart style="width:700px;" [view]="view11" [scheme]="colorScheme" [results]="busData" [gradient]="gradient"
                          (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                      </div>

                    </div>
                  </div>




                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>