<div class="bgColorHeight">
  <div class="ptop140">
    <div class="row-fluid">
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 positionRelative">
  <span>
    <b>Battery Health:</b> {{afzal}} 
  </span>
  <span>&bull;</span>
  <span>
    <b>Smoke state:</b> {{smokeTest}}
  </span>
  <br>
  <span>
    <b>CO state:</b> {{coState}}
  </span>
  <span>&bull;</span>
  <!-- <span class="color-state"><b>Color state:</b>
    {{if ui_color_state === 'green'}}
      <img src="/img/green-state.png" />
    {{else ui_color_state === 'yellow'}}
      <img src="/img/yellow-state.png" />
    {{else ui_color_state === 'red'}}
      <img src="/img/red-state.png" />
    {{else}}
      <img src="/img/gray-state.png" />
    {{/if}}
  </span> -->

<!-- </div> -->
<!-- <button (click) = "listerner1()">click</button> -->
<p class="card-text" hidden>{{afzal}}</p>
</div>
</div>
</div>