<div class="bgColorHeight">
  <div class="">
    <div class="row-fluid">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 co-md-12 col-sm-12 col-xs-12 m-btm20">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="airPresureStyle borderStyle">
                <div>
                  <ul class="listStyle_none">
                    <li class="f_left m_left40 p10 color-fff f-size16 f-bold">Air Pressure / Purity</li>
                    <li class="f_right p10">
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="color-fff">
                  <ul class="listStyle_none" style="margin-left: -35px;">
                    <li class="allTxtCenter f_left ">
                      <div>Yesterday</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div>wind
                        <br> {{yesterdayWind}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">Today</div>
                      <img src="../assets/images/air_icon_2.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">wind
                        <br> {{todayWind}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">Tomorrow</div>
                      <img src="../assets/images/air_icon_3.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">wind
                        <br> {{tomorrowWind}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">{{future1date}} April</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">wind
                        <br> {{future1}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">{{future2date}} April</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">wind
                        <br> {{future2}}</div>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class=" color-fff f-size16" style="margin-top:10px;padding:20px;">Moderate Temperature in {{city}} </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="borderStyle width100" style="height: 265px;background: #fff;">
                <div>
                  <ul class="listStyle_none">
                    <li class="f_left m_left40 p10  f-size16 f-bold">Weather</li>
                    <li class="f_right p10">

                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div>
                  <ul class="listStyle_none" style="margin-left: -35px;margin-top: 30px;">
                    <li class="allTxtCenter f_left ">
                      <img src="../assets/images/weather_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div>9, Mon</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_2.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">10, Tue</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_3.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">11, Wed</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_4.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">12, Thu</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_5.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">13, Fri</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_6.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">14, Sat</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <img src="../assets/images/weather_7.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">15, Sun</div>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class="f-size16 color-blue" style="padding: 2px 6px;">Moderate Temperature in {{city}} </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div id="mapArea" class="img-responsive borderStyle" style="width: 100%;height: 265px;">
                <!-- <img src="../assets/images/map_01.jpg" class="img-responsive borderStyle" style="width: 495px;height: 265px;"> -->
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                  <!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                          [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
      
                          <agm-info-window>
                              <strong>InfoWindow content</strong>
                          </agm-info-window>
      
                      </agm-marker> -->
                  <!-- <gm-trafficLayer></gm-trafficLayer> -->
                </agm-map>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">



          <!-- <div class="col-sm-4">
                  <div class="borderStyle p20">
                      <div class="f-size16 f-bold mbtm25">
                          Security Cameras
                      </div>
                      <div class="col-sm-12 m-btm20 paddingLeftRightZero">
                        <div class="col-sm-4 paddingLeftRightZero">
                          <img src="../assets/images/live_cam1.jpg" class="img-responsive" style="width:125px;height:100px;">
                          <div>Location name</div>
                          <div>ccc type</div>
                        </div>
                        <div class="col-sm-4">
                          <img src="../assets/images/live_cam2.jpg" class="img-responsive"  style="width:125px;height:100px;"> 
                          <div>Location name</div>
                          <div>ccc type</div>
                        </div>
                        <div class="col-sm-4">
                          <img src="../assets/images/live_cam3.jpg" class="img-responsive"  style="width:125px;height:100px;">
                          <div>Location name</div>
                          <div>ccc type</div>
                        </div>
                      </div>
                      <div class="text-center color-blue f-size16">+ View All CCC Devices</div>
                  </div>            
                </div>   -->
          <div class="row">

            <div class="col-sm-4 ">
              <div class="waterLevelBg borderStyle">
                <div>
                  <ul class="listStyle_none">
                    <li class="f_left m_left40 p10  f-size16 f-bold">Water Level Monitoring</li>
                    <li class="f_right p10">

                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div>
                  <ul class="listStyle_none" style="margin-left: -35px;">
                    <li class="allTxtCenter f_left ">
                      <div>Yesterday</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div>Water
                        <br>{{yesterdayWater}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">Today</div>
                      <img src="../assets/images/air_icon_2.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">Water
                        <br> {{todayWater}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">Tomorrow</div>
                      <img src="../assets/images/air_icon_3.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">Water
                        <br> {{tomorrowWater}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">{{future1date}} April</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">Water
                        <br>{{futureWater1}}</div>
                    </li>
                    <li class="allTxtCenter f_left">
                      <div class="text-center">{{future2date}} April</div>
                      <img src="../assets/images/air_icon_1.png" class="img-responsive" style="margin: auto;width: 40px;">
                      <div class="text-center">Water
                        <br> {{futureWater2}}</div>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <div class=" f-size16" style="margin-top:10px;padding:20px;">Water level is improved by 16% </div>
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                  [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>
            </div>


            <div class="col-sm-8">
              <div class="borderStyle" id="mapArea2" style="width: 100%;height: 270px;">
                <!-- <img src="../assets/images/map_01.jpg" class="img-responsive" style="width: 71em;height: 270px;"> -->
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"> -->

                    <agm-info-window>
                      <strong>InfoWindow content</strong>
                    </agm-info-window>

                  </agm-marker>
                </agm-map>
              </div>
            </div>


            <!-- </div>
              <div class="col-sm-12 m-top20" style="margin-bottom:20px;"> -->
            <div class="col-sm-8">
              <a class="socialMngmntLink" href="https://cas.vitrue.com/login" target="_blank">
                <span class="glyphicon glyphicon-cloud"> </span> Sentiment Analysis Dashboard </a>
            </div>

            <div class="col-sm-8">
              <div class="borderStyle p30 m-top15">
                <div class="f-size16 f-bold mbtm25">
                  Trending News About {{city}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <div class="txtHiden m_b10">
                        {{news1}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news2}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news3}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news4}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <div class="txtHiden m_b10">
                        {{news5}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news6}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news7}}
                      </div>
                      <div class="txtHiden m_b10">
                        {{news8}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <!-- </div>
      </div> -->
        </div>
      </div>


    </div>
  </div>
</div>


<div id="waterlevelPopUp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content wow swing animated popupDwn">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
        <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
        <h4 class="modal-title alertStyle">ALERT</h4>
      </div>
      <div class="modal-body">
        <p class="text-center  f-size20" style="margin-top: -12px;"> {{textAlert}} </p>
        <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
        <div class="divCenter">
          <button class="btn btn-default btnIncident01" (click)="detail()">View in detail</button>
          <button class="btn btn-default  btnIncident01" (click)="incident()" disabled>Record incident</button>
          <button class="btn btn-default btnIncident01" disabled>Check SOP's</button>
        </div>
      </div>
    </div>

  </div>
</div>