.airPresureStyle{
    background-image: url(/../../assets/images/airinfo_bg.jpg);
    height: 200px;
    min-height: 268px;
    padding: 1px;
    background-size: cover;
}
.allTxtCenter{
    border-right: 1px solid #e6dede;
    width: 80px;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
}

.weatherDrpdwn{    
    padding: 10px;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.txtHiden{
    background: #e0e2e2;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
    color: #337ab7;
}
.waterLevelBg{
        height: 200px;
        min-height: 268px;
        padding: 1px;
        background:#a8d6fa;
        border-radius: 4px;
}
.weatrDrpdwn{
        padding: 10px;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
}
agm-map {
    height: 256px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
 .mapCenter{
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 295px;
  padding: 10px;
 }

