<ul class="nav nav-tabs fixedUltabs">
  <li class="active" data-toggle="tooltip" title="Incidents & Digital Assets">
    <a data-toggle="tab" href="#tab1" (click)="showIOTDevice(city)" class="text-capitalize">Incidents & Digital Assets</a>
  </li>
  <li data-toggle="tooltip" title="Smart Parking">
    <a data-toggle="tab" href="#tab2" (click)="smartParking(city)" class="text-capitalize ">Smart Parking</a>
  </li>
  <li data-toggle="tooltip" title="Air Purity">
    <a data-toggle="tab" href="#tab3" class="text-capitalize">Air Purity</a>
  </li>
  <li data-toggle="tooltip" title="Water Scada">
    <a data-toggle="tab" href="#tab4"  class="text-capitalize ">Water Scada</a>
  </li>


</ul>

<div class="panel-body" style="padding: 0px;">
  <div class="tab-content chartContent">

    <div id="tab1" class="tab-pane fade in active">
      <div class="col-sm-12 mtopbmt">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="f-size20 txtCenter99">
            Incidents Happened in Cities
          </div>
          <div>
            <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
            </ngx-charts-bar-vertical>



          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="f-size20 txtCenter99">
            Total Digital Assets
          </div>
          <div>
            <table class="table table-responsive table-striped  table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>

                  <th scope="col">Cities</th>
                  <th scope="col">Total</th>
                  <th scope="col">Working</th>
                  <th scope="col">Repair</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let show of showdigitalAssert; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td class="table-primary">{{show.cityName}}</td>
                  <td class="table-primary">{{show.total}}</td>
                  <td class="table-primary">{{show.working}}</td>
                  <td class="table-primary">{{show.repair}}</td>
                </tr>
              </tbody>
            </table>
            <!-- <table border="1" class="table table-responsive tableBorderStyle">
                          <tr>
                            <th class="color-maroon">Cities</th>
                            <th class="color-maroon" >Total</th>
                            <th class="color-maroon">Working</th>
                            <th class="color-maroon">Repair</th>
                          </tr>
                          <tr *ngFor="let show of showdigitalAssert">
                            <td>{{show.cityName}}</td>
                            <td>{{show.total}}</td>
                            <td>{{show.working}}</td>
                            <td>{{show.repair}}</td>
                          </tr>
                         
                      </table> -->
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
                    <div class="f-size20 color-sky ">
                      Smart Parking
                    </div>
                    <div>
                      <table border="1" class="table table-responsive tableBorderStyle">
                        <tr>
                          <th class="color-maroon">Cities</th>
                          <th class="color-maroon">Total</th>
                          <th class="color-maroon">Filled</th>
                          <th class="color-maroon">Available</th>
                        </tr>
                        <tr *ngFor="let show of parkingAvilb">
                          <td>{{show.cityName}}</td>
                          <td>{{show.total}}</td>
                          <td>{{show.working}}</td>
                          <td>{{show.repair}}</td>
                        </tr>
                           
                    </table>
                    </div>
                  </div> -->
      </div>
    </div>

    <div id="tab2" class="tab-pane fade in">
      <div class="col-sm-12">
        <div class="f-size20 color-sky" style="margin-left: 10px;">Smart Parking</div>
      </div>

      <div class="col-sm-12 smartPMargin" >
        <div class="col-lg-12 whiteBg" style="margin-bottom: 120px;">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " *ngIf="smartCityInfo">
            <div class="txtCenter99">All Cities</div>
            <div id="width200123">
              <ngx-charts-advanced-pie-chart [view]="view22" [scheme]="colorScheme2" [results]="parkingAvilbPieData" [gradient]="gradient"
                (select)="onSelect($event)">
              </ngx-charts-advanced-pie-chart>



            </div>

          </div>
          <!-- <div class="verticalLine">
                                </div> -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div class="txtCenter99">
              {{selectedCityName}}
            </div>
            <div>
              <ngx-charts-bar-vertical-stacked [view]="view11" [scheme]="colorScheme1" [results]="smartCityInfo" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
              </ngx-charts-bar-vertical-stacked>

              <!-- <ngx-charts-bar-vertical
                                    [view]="view1"
                                    [scheme]="colorScheme1"
                                    [results]="smartCityInfo"
                                    [gradient]="gradient"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [legend]="showLegend"
                                    [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel"
                                    [yAxisLabel]="yAxisLabel"
                                   
                                    (select)="onSelect($event)">
                                  </ngx-charts-bar-vertical> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab3" class="tab-pane fade in">
      <!-- <div class="col-sm-12">
                    <div class="f-size20 color-sky m-top20" style="margin-left: 10px;">Air Purity (CO2, SO2 & NO2 levels )</div>
                  </div> -->
      <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 " style="padding-left:0px;margin-top:75px;">
         <div>
            <ul class="liststyleNone" style="padding-bottom: 40px;margin-left: -35px;">
                <li  class="f_left libtn" (click)="pmClick('pm')">PM2.5</li>
                <li class="f_left libtn" (click)="co2Click('co2')">CO<sub>2</sub></li>
                <li  class="f_left libtn" (click)="soClick('so')">SO <sub>2</sub></li>
                <li class="f_left libtn" (click)="noClick('no')">No <sub>2</sub></li>
                <li class="f_left libtn" (click)="oClick('o')">O <sub>2</sub></li>
                <li class="f_left libtn" (click)="noiseClick('noise')">Noise Level</li> 
              </ul>
         </div>
<div class="clearfix"></div>
<div class="airMap">
    <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [latitude]="m.lat" [longitude]="m.lng"
          [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)" (mouseOver)="mouseOver($event, m.label, m.city, m.severity, m.type, infoWindow, gm)">

          <agm-info-window #infoWindow class="font-sanserif">
            <!-- <strong [hidden]="!city" class="font-sanserif">City Name: {{city}}</strong>
            <br>
            <strong [hidden]="!area" class="font-sanserif">Area Name: {{area}}</strong>
            <br>
            <strong [hidden]="!severity" class="font-sanserif">PM2.5: {{severity}}</strong>
            <strong [hidden]="!soVar" class="font-sanserif">SO2 Level: {{severity}}</strong>
            <strong [hidden]="!noVar" class="font-sanserif">NO2 Level: {{severity}}</strong>
            <strong [hidden]="!oVar" class="font-sanserif">O2 Level: {{severity}}</strong>
            <strong [hidden]="!noiseVar" class="font-sanserif">Noise Level: {{severity}}</strong>
            <strong [hidden]="!coVar" class="font-sanserif">SO2 Level: {{severity}}</strong>
            <br>
            <strong [hidden]="!type" class="font-sanserif">PM2.5 Levels: {{type}}</strong>
            <br>
            <br> -->
            <div>
                <div class="satisfactryStyle" [hidden]="!goodVar">
                Good
                </div>
                <div class="severeStyle" [hidden]="!severeVar">
                    Severe
                  </div>
                  <div class="moderateStyle" [hidden]="!moderateVar">
                      Moderate
                    </div>
                <div class="bordrBtm" [hidden]="!severity1">
                  <span class="f-size24">PM2.5 : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  </div>
                  <div class="bordrBtm" [hidden]="!coVar">
                      <span class="f-size24">CO <span>2</span>: {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  </div>
                  <div class="bordrBtm" [hidden]="!noVar">
                  <span class="f-size24">NO <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  </div>
                  <div class="bordrBtm" [hidden]="!soVar">
                  <span class="f-size24">SO <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  </div>
                  <div class="bordrBtm" [hidden]="!oVar">
                  <span class="f-size24">O <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                  </div>
                  <div class="bordrBtm" [hidden]="!noiseVar">
                  <span class="f-size24">Noise Levels : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <!-- <div class="bordrBtm">
                  <span>Wind Speed : 9.8 km/h (direction : SE)</span>
                </div> --> 
                <div class="bordrBtm f-size12" [hidden]="!goodVar">
                  <span>Minimal impact </span>
                </div>
                <div class="bordrBtm f-size12" [hidden]="!moderateVar">
                    <span>Breathing discomfort to most people on prolonged exposure</span>
                  </div>
                  <div class="bordrBtm f-size12" [hidden]="!severeVar">
                      <span>Respiratory illness on prolonged exposure  </span>
                    </div>
                <div class="f-size12">
                  <span>{{city}}, Tamil Nadu</span>
                </div>
             </div>
            <!-- <button class="btn btnicc font-sanserif" (click)="incidentChange(m)">View Details</button> -->
          </agm-info-window>
        </agm-marker>
      </agm-map>
</div>

     
      </div>
      
    </div>
    <div id="tab4" class="tab-pane fade in">
      <div class="col-lg-5 col-md-12 col-ms-12 col-xs-12 airMap m-btm20" style="padding-left:0px;">
        <div class="electricitymap" id="incidentMapArea111">
            <agm-map #gm1 [latitude]="lat1" [longitude]="lng1" [zoom]="zoom1" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked1($event)">

                <agm-marker *ngFor="let m of markers1; let i = index" (markerClick)="clickedMarker1(m, i)" [latitude]="m.lat" [longitude]="m.lng"
                  [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)" (mouseOver)="mouseOver1($event, m.label, m.city, m.severity, m.type, infoWindow1, gm1)">
               
                <agm-info-window #infoWindow1 class="font-sanserif">
                    <div>
                        <div class="satisfactryStyle" [hidden]="!excessVar">
                      {{type}}
                        </div>
                        <div class="severeStyle" [hidden]="!deficientVar">
                            {{type}}
                          </div>
                          <div class="bordrBtm">
                              <span class="f-size24">Distribution Volume : {{area}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                              </div>
                              <div class="bordrBtm">
                                  <span class="f-size24"> Capacity: {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                              </div>
                        </div>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
        </div>        
      </div>
      <div class="col-lg-7 col-md-12 col-ms-12 col-xs-12">
          <div id="tabsArea" class="multitabs" style="margin-top: 80px;">
              <div class="panel panel-default">
                <div class="panel-heading">                  
                  <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" title="Smart Water Distribution">
                      <a data-toggle="tab" href="#tab11" class="text-capitalize">Smart Water Distribution</a>
                    </li>
                    <li data-toggle="tooltip" title="Distribution Volume">
                      <a data-toggle="tab" href="#tab22" class="text-capitalize">Distribution Volume</a>
                    </li>                   
                  </ul>      
                </div>
                <div class="panel-body">
                  <div class="tab-content chartContent">
                    <div id="tab11" class="tab-pane fade in active">      
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                         <div>
                           <img src="../assets/images/waterImg.jpg" class="img-responsive imgWater">
                         </div>
                         <div>
                           <div class="f-size20">{{ todayDate | date : "dd.MM.y" }} MORNING</div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 paddingLeftRightZero">
                              <div class="watrTxtBg">Total No. of ELSRs</div>
                              <div class='v-center-flex'>
                                <div class="f-size20"> 58</div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                              <div class="watrTxtBg">Total Capacity</div>
                              <div class='v-center-flex'>
                                <div class="f-size20"> 54115 KL</div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                              <div class="watrTxtBg">Supplied Quantity</div>
                              <div class='v-center-flex'>
                                <div class="f-size20"> 48890 KL</div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                              <div class="watrTxtBg">Supplied Quantity</div>
                              <div class='v-center-flex'>
                                <div>
                                  <img src="../assets/images/water quantity.png" style="width: 82px;" class="img-responsive">
                                </div>
                              </div>
                            </div>
                           </div>
                         </div>
                         <div class="col-lg-12 colmd-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                           <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 paddingLeftRightZero">
                            <div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero" >
                                <div class="watrTxtBg">Excess Supply Count</div>
                                <div class='v-center-flex'>
                                  <div class="f-size20"> 54115 KL</div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="watrTxtBg">Excess Volume</div>
                                <div class='v-center-flex'>
                                  <div class="f-size20"> 54115 KL</div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  style="padding-left:0px;">
                                <div class="watrTxtBg">Excess Supply</div>
                                <div class='v-center-flex'>
                                  <div>
                                    <img src="../assets/images/water quantity 9.8.png" style="width: 82px;" class="img-responsive">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero">
                                <div class="watrTxtBg">Deficient Supply Count</div>
                                <div class='v-center-flex'>
                                  <div class="f-size20"> 54115 KL</div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="watrTxtBg">Deficient Volume</div>
                                <div class='v-center-flex'>
                                  <div class="f-size20"> 54115 KL</div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                                <div class="watrTxtBg">Deficient Supply</div>
                                <div class='v-center-flex'>
                                  <div>
                                    <img src="../assets/images/water quantity 19.32.png" style="width: 82px;" class="img-responsive">
                                  </div>
                                </div>
                              </div>
                            </div>
                           </div>
                           <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 paddingLeftRightZero">
                            <div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                <div class="watrTxtBg">Excess Supply ELSRs</div>
                                <div class="excessScroll">
                                  <div class="txtBorder">Coimbatore</div>
                                  <div class="txtBorder">Madurai</div>
                                  <div class="txtBorder">Thanjavur</div>
                                  <div class="txtBorder">Tiruchirapalli</div>
                                  <div class="txtBorder">Vellore</div>
                                  <div class="txtBorder">Tirunelveli</div>
                                  <div class="txtBorder">Tiruppur</div>
                                  <div class="txtBorder">Thoothukudi</div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingLeftRightZero">
                                <div class="watrTxtBg">Deficient Supply ELSRs</div>
                                <div class="excessScroll">
                                  <div class="txtBorder">Salem</div>
                                  <div class="txtBorder">Erode</div>
                                  <!-- <div class="txtBorder">Ambedkar Colony</div>
                                  <div class="txtBorder">Four Pillar Center</div>
                                  <div class="txtBorder">Ambedkar Colony</div>
                                  <div class="txtBorder">Four Pillar Center</div>
                                  <div class="txtBorder">Ambedkar Colony</div>
                                  <div class="txtBorder">Four Pillar Center</div> -->
                                </div>
                              </div>
                            </div>
                           </div>
                         </div>
                       </div>
                    </div>
                    <div id="tab22" class="tab-pane fade in  chartwater" style="height: 411px;overflow: auto;">
                      <div>
                          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme4" [results]="data111" [gradient]="gradient" [xAxis]="showXAxis"
                          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical-2d>
                       
                      </div>
                      <!-- <div class="clearfix"></div>
                      <div>
                          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div> 
    </div>
  </div>
</div>