.stateBg{
    background-image: url('/../../assets/images/bg pattern_45.png');
    background-repeat: repeat;
    min-height: 600px;
    margin-top: -20px;
}
.m-top30{margin-top: 30px;}
.color-sky{    color: #61bb97;}
.color-maroon{color: #e8050c;}
.tableBorderStyle{
    border: 4px solid #fff;
    border-style: ridge;
    border-top-left-radius: 20px;
}
.tableBorderStyle1{
    border: 4px solid #fff;
    border-style: ridge;
    border-top-left-radius: 20px;
}
.tableBorderStyle1>tbody>tr>th, .tableBorderStyle1>tbody>tr>td{
    border:0px;
}
border: 0px;
.tableBorderStyle>tbody>tr>th, .tableBorderStyle>tbody>tr>td{
    border:1px solid #ccc;
}
.circleStyle{
    width: 120px;
    height: 120px;
    margin: 20px;
}
.whiteBg{
    background: #fff;
    border-radius: 10px;
}
.txtCenter99{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaaaaa;
    font-size: 21px;
    padding: 10px;
}
.orangBtn{
    background: #f67e7d;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    margin: 10px;
}
.greybtn{
    background: #6cc3bd;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    margin: 10px;
}
.bluebtn{
    background: #5a819e;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    margin: 10px;
}
.m10{
    margin: 10px;
}
.width150{width: 180px;}
.padding20{
    padding: 15px 20px;
}
.verticalLine {
    border-left: thick solid #ff0000;
  }  
  * {
    font-family: Lato;
  }
 .goodcolor{
    width: 150px;
    background: #5ca026;
    border: 1px solid #ccc;
    padding-left: 10px;
 }
 .poorcolor{
    width: 150px;
    background: #b87b06;
    border: 1px solid #ccc;
    padding-left: 10px;
 }
 .vpoorcolor{
    width: 150px;
    background: #ed1c24;
    border: 1px solid #ccc;
    padding-left: 10px;
 }

 /* tool tip */
 .tooltipAir .wrapper {
    text-transform: uppercase;
    background: #ececec;
    color: #555;
    cursor: help;
    font-size: 20px;
    margin: 100px 75px 10px 75px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    width: 200px;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  }
  
  .tooltipAir .wrapper .tooltip {
    background: #ffffff;
    bottom: 100%;
    color: #000;
    display: block;
    left: 0px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    width: 310px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
  }
  
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
  .tooltipAir .wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }  
  
  /* CSS Triangles - see Trevor's post */
  .tooltipAir .wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #fff 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
    
  .tooltipAir .wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  /* IE can just show/hide with no transition */
  .lte8 .wrapper .tooltip {
    display: none;
  }
  
  .lte8 .wrapper:hover .tooltip {
    display: block;
  }
  .satisfactryStyle{
    background: #2def2d;
    margin: 2px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  .severeStyle{
    background: #ed1c24;
    margin: 2px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  .moderateStyle{
    background: #dba02b;
    margin: 2px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  .bordrBtm{border-bottom: 1px solid #ccc;}
  .aqi-description {
    padding: 10px;
    background: #f2f2f2;
    font-weight: 300;
    text-align: left;
}
.aqi-desc-container {
    background: #f2f2f2;
}
.fixedUltabs{
    margin-top: 46px;
    position: fixed;
    z-index: 999;
    background: whitesmoke;
    width: 100%;
}
.mtopbmt{
    margin-top: 100px;
    margin-bottom: 44px;
}
.smartPMargin{
    margin-bottom: 38px;
    margin-top: 85px;
}

.chartwater .ngx-charts {
    margin-left: -24px !important;
}
.watrTxtBg{
    background: #87dbff;
    border: 1px solid #ccc;
    padding: 0px;
    color: #fff;
    font-size: 14px;
}
.txtCenter111{
    left: 0;
    right: 0;
    margin: auto;
    display: table;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 30px;
    width:100%;
}
.v-center-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    height: 72px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 15px;
}
.v-center-flex div {
    margin: 0 auto;
}
.imgWater{
    height: 70px;
    width: 100%;
}
.excessScroll{
    border: 1px solid #ccc;
    margin-top: 5px;
    height: 185px;
    overflow: auto;
    padding: 5px;
}
.txtBorder{
    border-left: 2px solid #ccc;
    padding: 2px;
    margin-bottom: 6px;
}