<!-- <div>
  <img src="../../assets/images/chennai.jpg" class="img-responsive" style="width:100%;height:800px;margin-top: 90px;">
</div> -->
<div class="container-fluid">
  <div class="col-sm-12" style="min-height: 734px;">  
    <div id="tabsArea" class="multitabs parentTabs" style="margin-top:100px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Panel title</h3> -->
            <!-- <ul class="list-inline panel-actions">
              <li>
                <a id="panel-fullscreen1" role="button" title="Toggle fullscreen">
                  <i class="glyphicon glyphicon-resize-full"></i>
                </a>
              </li>
            </ul> -->
            <ul id="parentTabs" class="nav nav-tabs ">
                <li class="active" data-toggle="tooltip" title="SMS">
                  <a data-toggle="tab" href="#portal" class="text-capitalize cursorPointer">SMS</a>
                </li>     
                <!-- <li  data-toggle="tooltip" title="Portal1">
                    <a data-toggle="tab" href="#portal1" class="text-capitalize cursorPointer">Incident Details</a>
                  </li>            -->
              </ul>
          </div>
          <div class="panel-body">
              <div class="tab-content">
                  <div id="portal" class="tab-pane fade in active">
                    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                      <form [formGroup]="portalDynamicForm">
                        <div formArrayName='phoneNumber'>
                          <div style="float:left">
                            <div class="form-group pos_input_flt" *ngFor="let people of portalDynamicForm.get('phoneNumber').controls;let i=index" >
              
                              <div style='display:table;' >
                                 
                                <div style='display:table-cell;'>
                                  <input type="tel" placeholder="Enter Mobile Number" class="inputSTyle form-control"   [formControlName]="i">
                
                                </div>
                                <div style='display:table-cell;padding-left: 15px;' (click)="removeSplitBill(i)" >
                                 <img src="../assets/images/wast_2.png" class="remveStyle">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pos-btn_flt" *ngIf="!validActive" >
                              <button type="button" class="inputfll"  (click)="addMorePeople()" style="margin-top: 6px;margin-left: 10px;border: 1px solid #ddd;">+</button>
                          </div>
                          
                        </div>
                        <div class="clearfix"></div>
                      <div class="col-lg-12">
                        <div>
                            <textarea [value]="msg" (input)="msg = $event.target.value" rows="3" placeholder="Enter Meassage Here" class="txtAreaStyle"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div>
                            <button (click) = "submit(portalDynamicForm.get('phoneNumber').value)" type="submit" class="btn btn-primary btnSUbmtPortal">Submit</button>
                        </div>
                      </div>
                      </form>
                      
                      
                    </div>
                  </div>

                 
                  <!-- <div id="portal1" class="tab-pane fade">                    
                    <div></div>      
                  </div> -->
      
                </div>
          </div>
        </div>
      </div>
    </div>
</div>