  <div class="container-fluid" style="margin-top: 56px;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="tabsComponent" class="positionRelative">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15221.989279781685!2d78.34438615!3d17.4837577!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1523880395980" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          <!-- <h1>Angular Google Maps (AGM) Demo</h1>
          <p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>
           -->
           <!-- <button (click) =  "waterIncident1(waterObj)">Water</button> -->
           <!-- <button (click) =  "trafficIncident1()">Traffic</button> -->
           <!-- <button (click) =  "bombIncident1()">Bomb</button> -->
           <!-- <button (click) =  "fiberIncident1()">Fiber</button> -->
           <!-- <button (click) = "wasteIncident()">wasteIncident</button> -->
          <div id="incidentMapArea111">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window>
                  <strong>InfoWindow content</strong>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
          <!--    new map     -->

          <!--    new map     -->
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

        <div id="tabsArea" class="multitabs parentTabs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <!-- <h3 class="panel-title">Panel title</h3> -->
              <ul class="list-inline panel-actions">
                <li>
                  <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                    <i class="glyphicon glyphicon-resize-full"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-tabs" id="tabUL">
                <li class="active" data-toggle="tooltip" title="Fire">
                  <a data-toggle="tab" href="#tab1" class="text-capitalize">Fire</a>
                </li>
                <li data-toggle="tooltip" title="Smart Surveillance">
                  <a data-toggle="tab" href="#tab2" class="text-capitalize hidentxt">Smart Surveillance</a>
                </li>
                <li data-toggle="tooltip" title="Smart Public Event">
                  <a data-toggle="tab" href="#tab3" class="text-capitalize hidentxt">Smart Public Event</a>
                </li>
                <li data-toggle="tooltip" title="Natural Disaster">
                  <a data-toggle="tab" href="#tab4" class="text-capitalize">Natural Disaster</a>
                </li>
                <li data-toggle="tooltip" title="Smart Traffic">
                  <a data-toggle="tab" href="#tab5" class="text-capitalize">Smart Traffic</a>
                </li>
                <li data-toggle="tooltip" title="Smart Fiber">
                  <a data-toggle="tab" href="#tab6" class="text-capitalize">Smart Fiber</a>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content ">
                <div id="tab1" class="tab-pane fade in active">
                    <ul id="navMenus5" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':fireVar11 === true}">
                        <li class="cursorPointer"  style="color:#999;" [innerText]="fire1"></li>
                        
                        <li [hidden]="!fireVarSalem" class="cursorPointer" style="color:#999;" [hidden]="!fireVarSalem"  [innerText]="fireSalem"></li>
                        <li [hidden]="!fireVarMadurai" class="cursorPointer" style="color:#999;" [hidden]="!fireVarMadurai"  [innerText]="fireMadurai"></li>
                        <li [hidden]="!fireVar11" class="cursorPointer" style="color:#999;" [hidden]="!fireVar11" (click)="secondFire(fire2)" [innerText]="fire2"></li>
                    </ul>
                </div>
                <div id="tab2" class="tab-pane fade" >
                    <ul id="navMenus" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightBomb === true}">
                      <!-- <li *ngFor = ""></li> -->
                        <!-- <li><a class="cursorPointer" (click)="abcd(accident1)" [innerText]="accident1"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(accident2)" [innerText]="accident2"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(newsTraffic)" [innerText]="newsTraffic"></a></li>
                        <li><a class="cursorPointer" [innerText]="newsBomb"></a></li> -->
                        <li *ngFor="let hero of bombArray" class="cursorPointer"  style="color:#999;" [innerText]="hero.description">
                          </li>
                    </ul>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <ul id="navMenus1" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':cameraVar1 === true}">
                        <!-- <li> <a class="cursorPointer" (click)="abcd(road1)" [innerText]="road1"></a></li>
                        <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(road2)" [innerText]="road2"></a></li>
                        <li>  <a class="cursorPointer" style="color:#999;" (click)="abcd(road3)" [innerText]="newsFiber"></a></li> -->
                        <li *ngFor="let hero of transArray" class="cursorPointer" style="color:#999;"  [innerText]="hero.description">
                          </li>
                          <!-- <li><a class="cursorPointer" [hidden]="!cameraVar" (click)="camera(cam1)" [innerText]="cam1"></a></li> -->
                    </ul>                
                </div>
                <div id="tab4" class="tab-pane fade">
                    <ul id="navMenus2" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightFlood === true}">
                        <!-- <li> <a class="cursorPointer" (click)="abcd(natural1)" [innerText]="natural1"></a></li>
                        <li> <a class="cursorPointer" (click)="abcd(natural2)" [innerText]="natural2"></a></li>
                        <li>  <a class="cursorPointer" (click)="abcd(newsWater)" [innerText]="newsWater"></a></li> -->
                        <li *ngFor="let hero of floodArray" class="cursorPointer" style="color:#999;"  [innerText]="hero.description">
                          </li>
                    </ul>                   
                </div>
                <div id="tab5" class="tab-pane fade">
                    <ul id="navMenus3" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightTraffic1 === true}">
                        <!-- <li><a class="cursorPointer" (click)="abcd(mass1)" [innerText]="mass1"></a></li>
                        <li> <a class="cursorPointer" (click)="abcd(mass2)" [innerText]="mass2"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(mass3)" [innerText]="newsTraffic"></a></li> -->
                        <li *ngFor="let hero of trafficArray" class="cursorPointer" style="color:#999;"  [innerText]="hero.description">
                          </li>
                    </ul>                   
                </div>
                <div id="tab6" class="tab-pane fade">
                    <ul id="navMenus4" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightFiber1 === true}">
                        <!-- <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking1)" [innerText]="parking1"></a></li>
                        <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking2)" [innerText]="parking2"></a></li>
                        <li><a class="cursorPointer" style="color:#999;" (click)="abcd(parking3)" [innerText]="parking3"></a></li> -->
                        <li *ngFor="let hero of fiberArray" class="cursorPointer" style="color:#999;"  [innerText]="hero.description">
                          </li>
                    </ul>                   
                </div>
              </div>
            </div>
          </div>
        </div>



        <div id="" class="">
        <div id="tabsArea" class="multitabs parentTabs">
            <div class="panel panel-default">
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Panel title</h3> -->
                <ul class="list-inline panel-actions">
                  <li>
                    <a id="panel-fullscreen1" role="button" title="Toggle fullscreen">
                      <i class="glyphicon glyphicon-resize-full"></i>
                    </a>
                  </li>
                </ul>
                <ul id="parentTabs" class="nav nav-tabs ">
                    <li class="active" data-toggle="tooltip" title="Incident Details">
                      <a data-toggle="tab" href="#latestNews" class="text-capitalize cursorPointer">Incident Details</a>
                    </li>
                    <li data-toggle="tooltip" title="Incident Logs">
                      <a data-toggle="tab" href="#incidentLogs" class="text-capitalize cursorPointer">Incident Logs</a>
                    </li>
                  </ul>
  
              </div>
              <div class="panel-body">
                  <div class="tab-content">
                      <div id="latestNews" class="tab-pane fade in active">
                        <div class="row" [hidden]="!myVar">
                          <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12 areaStyle1">
                            <!-- <div class="titleStyle1 text-center">City Alerts Dashboard - Critical</div>
                                <div class="color-blue f-bold text-left" style="font-size:18px">{{title}}</div> -->
                            <div>
                              <table class="table borderless">
                                <tr>
                                  <td>Area</td>
                                  <td>:</td>
                                  <td colspan="2">{{area}}</td>
                                </tr>
                                <tr>
                                  <td>Distance</td>
                                  <td>:</td>
                                  <td colspan="2">{{distance}}</td>
                                </tr>
                                <!-- <tr>
                                  <td>Engage</td>
                                  <td>:</td>
                                  <td colspan="2">20:20:20</td>
                                </tr> -->
                                <tr>
                                  <td>Nearest Police Station</td>
                                  <td>:</td>
                                  <td>{{area}} Police Station</td>
                                  <td>
                                    <button class="btn btn-default bgGrey" (click)="waterPolice()">Send Alert</button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Nearest Fire Station</td>
                                  <td>:</td>
                                  <td>{{area}} Fire Station</td>
                                  <td>
                                    <button class="btn btn-default bgGrey" (click)="waterFire()">Send Alert</button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Nearest Hospital</td>
                                  <td>:</td>
                                  <td>{{hospital}} Hospital</td>
                                  <td>
                                    <button class="btn btn-default bgGrey" (click)="waterHospital()">Send Alert</button>
                                  </td>
                                </tr>
                              </table>
                            </div>
          
                          </div>
          
                        </div>
                      </div>

                     
                      <div id="incidentLogs" class="tab-pane fade">
                        
                        <!-- incidentLogs  --> 
                        <div class="" >
                          <div class="holder" id="ticker01">                          
                            <ul  [hidden]="!myVar">
                              <li [hidden]="!news1Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news1}}</a>
                              </li>
                              <li [hidden]="!news2Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news2}}</a>
                              </li>
                              <li [hidden]="!news3Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news3}}</a>
                              </li>
                              <li [hidden]="!news4Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news4}}</a>
                              </li>
                              <li [hidden]="!news5Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news5}}</a>
                              </li>
                              <li [hidden]="!news6Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news6}}</a>
                              </li>
                              <li [hidden]="!news7Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news7}}</a>
                              </li>
                              <li [hidden]="!news8Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news8}}</a>
                              </li>
                              <li [hidden]="!news9Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news9}}</a>
                              </li>
                              <li [hidden]="!news10Var">
                                <a> {{currentDate | date:'short'}} {{': '}}{{news10}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
          
                      </div>
          
                    </div>
              </div>
            </div>
          </div>

       

          

         


          <!-- <div id="tabsArea" class="">

              <ul class="nav nav-tabs">
                  <li class="active" data-toggle="tooltip" title="Bridge/Road Collapse">
                    <a data-toggle="tab" href="#latestNews" class="text-capitalize">Latest News</a>
                  </li>
                  <li data-toggle="tooltip" title="Accidental Emergency">
                    <a data-toggle="tab" href="#incidentLogs" class="text-capitalize">Incident Logs</a>
                  </li>
                </ul>
              
                <div class="tab-content">
                  <div id="latestNews" class="tab-pane fade in active">
                      <div class="latestNewsMain">
                          <div class="latestNews">
                            <!-- <span class="glyphicon glyphicon-menu-right"></span> -->
          <!-- Latest News</div>
                          <div class="holder">
                              <ul id="ticker01"> -->
          <!-- <li><a>{{news1}}</a></li>
                                          <li><a>{{news2}}</a></li>
                                          <li><a>{{news3}}</a></li>
                                          <li><a>{{news4}}</a></li>
                                          <li><a>{{news5}}</a></li>
                                          <li><a>{{news6}}</a></li>
                                          <li><a>{{news7}}</a></li> -->
          <!--<li><a href="#">{{news1}}</a></li>
                                          <li><a href="#">{{news2}}</a></li>
                                          <li><a href="#">{{news3}}</a></li>
                                          <li><a href="#">{{news4}}</a></li>
                                          <li><a href="#">{{news5}}</a></li>
                                          <li><a href="#">{{news6}}</a></li>
                                          <li><a href="#">{{news7}}</a></li>
                                    </ul>
                            </div>
                      </div>
                    
                  </div>
                  <div id="incidentLogs" class="tab-pane fade">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">Panel title</h3>
                              <ul class="list-inline panel-actions">
                                  <li><a id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                              </ul>
                          </div>
                          <div class="panel-body displaynone">
                              <h3>Panel body</h3>
                              <p>Click the resize icon in the top right to make this fullscreen.</p>
                          </div>
                      </div>
                    
                  </div> -->






        </div>
      </div>
    </div>
  </div>




  <div id="waterlevelPopUp1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content m-top200  wow swing animated">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <!-- <img src="../assets/images/alert icon.png" class="img-responsive alertPosition"> -->
          <!-- <h4 class="modal-title alertStyle" >ALERT</h4> -->
          <div class="modal-body">
            <p class="text-center  f-size20" style="margin-top: -10px;"> {{'Notification Sent'}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="waterlevelPopUpWater" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <!-- <button type="button" class="close opacity1" data-dismiss="modal">&times;</button> -->
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;" > Flood Alert </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="waterIncident(waterObj)">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="cancelAlert(waterObj)">Cancel</button>
            <!-- <button class="btn btn-default btnIncident01" disabled>Check SOP's</button> -->
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <div id="waterlevelPopUpTraffic" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <!-- <button type="button" class="close opacity1" data-dismiss="modal">&times;</button> -->
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> Smart traffic Alert </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="trafficIncident(trafficObj)">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="cancelTrafficAlert(trafficObj)">Cancel</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- <div id="waterlevelPopUpBomb" class="modal fade" role="dialog">
    <div class="modal-dialog">
     
      <div class="modal-content wow swing animated">
        <div class="modal-header" style="border-bottom: 0px;">
         
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> Smart Surveillance Alert </p>
        
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="bombIncident(bombObj)">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="cancelBombAlert(bombObj)">Cancel</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>  -->

  <div id="waterlevelPopUpCam1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <!-- <button type="button" class="close opacity1" data-dismiss="modal">&times;</button> -->
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> Smart Public Event Alert </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="camera(transObject)">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="canceltransAlert(transObject)">Cancel</button>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div id="waterlevelPopUpWaste" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content wow swing animated popupDwn">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
          <img src="../assets/images/alert icon.png" class="img-responsive alertPosition">
          <h4 class="modal-title alertStyle">ALERT</h4>
        </div>
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -12px;"> {{newsWaste}} </p>
          <!-- <p class="text-center  f-size20">Threshold in the area : {{areaName}} </p> -->
          <div class="divCenter">
            <button class="btn btn-default btnIncident01" (click)="fiberIncident(fiberObj)">View in detail</button>
            <button class="btn btn-default  btnIncident01" (click)="incident1()" disabled>Record incident</button>
            <button class="btn btn-default btnIncident01" disabled>Check SOP's</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  