<div class="bgColorHeight">
  <div class="ptop140">
    <div class="row-fluid">

      <div class="col-lg-12 col-md-12 col-sm-12 positionRelative">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=geometry"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<style>
  html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
</style>
<div id="map"></div>

</div>
</div>
</div>
</div>
