.borderNradius{
    border: 2px solid #000;
    border-radius: 4px;
    height: 155px;
    width: 100%;
    margin-bottom: 20px;
}
.txtStyle{
    font-size: 20px;
    color: #32a2f8;
    margin-left: 10px;
}
agm-map {
    height: 150px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
 .mapCenter{
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 295px;
  padding: 10px;
 }