
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" routerLink=""><img src="/../../assets/images/logo_saiccc.png"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-right" id="headActive">
              <li class="active"><a class="dotsDisable" routerLink="" class="cursorPointer">HOME</a>
                <!-- <a routerLink="" class="dotsArea" data-toggle="tooltip" title="Socially Aware Integrated Command Control Centre" class="dotsArea">Soc..............</a> -->
               
              </li>
              <!-- <li>
                <div class="" >
                    <button (click) = "dashbord()" class="btn btn-default  dashboardDrpdwn" type="button" >
                        DASHBOARD <span class=""></span>
                    </button> -->
                    <!-- <ul class="dropdown-menu dashBoardDrp">
                      <li><a routerLink="/smartCity">City Dashboards</a></li>
                      <li class="dropdown">
                        <a routerLink="/digitalAsset">Digital Assets Dashboards </a>                        
                      </li>
                      <li><a routerLink="/incident1/Coimbatore">City Alerts Dashboards - Non Critical </a></li>
                    </ul> -->
                  <!-- </div> -->
              <!-- </li> -->
              <li><a (click) = "dashbord()" class="cursorPointer">DASHBOARD</a></li>
              <li><a routerLink="/portal" >PORTAL</a>
              </li>
              <li><a routerLink="/digital" class="cursorPointer" >SECURITY</a>
              </li>              
              <!-- <li><a routerLink="/state" class="cursorPointer">STATE LEVEL</a>
              </li>     -->
              <!-- <li><a routerLink="/tabsArea" class="cursorPointer">TABS</a>
              </li> -->
          </ul>
      </div>
  </div>
</div>
