<!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <div class="col-sm-2" style="min-height:300px;">
    <div style=" margin: auto;left: 0;right: 0;display: table;">
        <h4 style="text-align:center"><b>Wind</b></h4>
        <google-chart [data]="gaugeChartData"></google-chart>
    </div>
  </div>
  <div class="col-sm-3" style="min-height:300px;">
    <div  style=" margin: auto;left: 0;right: 0;display: table;">
        <h4 style="text-align:center"><b>Water Level</b></h4>
        <google-chart [data]="lineChartData" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
    
      </div>
  </div>
  <div class="col-sm-2" style="min-height:300px;">
    <div style=" margin: auto;left: 0;right: 0;display: table;">
        <h4 style="text-align:center"><b>Air Pressure</b></h4>
          <app-pressure></app-pressure>
    </div>
  </div>
  <div class="col-sm-2" style="min-height:300px;">
    <div style=" margin: auto;left: 0;right: 0;display: table;">
        <h4 style="text-align:center"><b>Humidity</b></h4>
        <app-humidity></app-humidity>
    </div>
  </div>
  <div class="col-sm-3" style="min-height:300px;">
    <div style=" margin: auto;left: 0;right: 0;display: table;">
        <h4 style="text-align:center"><b>Temperature Level</b></h4>            
        <app-temperature></app-temperature>
    </div>
  </div>
</div>




<!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #ddd;">
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="border-right: 1px solid #ccc;min-height: 300px;">
          <h4 style="text-align:center"><b>Wind</b></h4>
          <google-chart [data]="gaugeChartData"></google-chart>
  </div>  
  
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="border-right: 1px solid #ccc;min-height: 300px;">
          <h4 style="text-align:center"><b>Water Level</b></h4>
          <google-chart [data]="lineChartData" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
    </div>  

    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="min-height: 300px;">
          <h4 style="text-align:center"><b>Air Pressure</b></h4>
          <app-pressure></app-pressure>
  </div>  
  
  
    </div>
 



<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #ddd;">
 
  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="border-right: 1px solid #ccc;min-height: 300px;">
          <h4 style="text-align:center"><b>Humidity</b></h4>
      <app-humidity></app-humidity>
    </div>  
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="min-height: 300px;">
          <h4 style="text-align:center"><b>Temperature Level</b></h4>            
          <app-temperature></app-temperature>
      </div>  

  
    </div> -->

    

 -->
