 /* tabs */
 .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #999;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #999;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #999;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #999;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.mat-tab-nav-bar {
    overflow: visible !important;
}
/* tabs */

/* You can add global styles to this file, and also import other style files */
 /* menu */
 body, .font-sanserif { font-family: sans-serif !important; }
 /* *[_ngcontent-c13] { font-family: 'Glyphicons Halflings' !important; } */
  #custom-bootstrap-menu.navbar-default .navbar-brand {
     color: rgba(119, 119, 119, 1);
 }
:focus { outline: 0 !important;
 }
 #custom-bootstrap-menu.navbar-default {
     font-size: 14px;
     background-color:#fff;
     border-bottom-width: 1px;
     height: 90px !important;
     z-index: 999;
 }
 #custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
     color: rgba(119, 119, 119, 1);
     background-color: #fff;
     padding: 32px 20px;
     /* font-size: 18px; */
 }
 #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
 #custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
     color: rgb(97, 187, 151);
     border-bottom: 5px solid rgb(97, 187, 151);
     padding: 32px 20px;
 }
 #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
 #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
 #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
     color: rgba(85, 85, 85, 1);
     background-color: rgba(231, 231, 231, 1);
 }
 #custom-bootstrap-menu.navbar-default .navbar-toggle {
     border-color: #ddd;
 }
 #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
 #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
     background-color: #ddd;
 }
 #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
     background-color: #888;
 }
 #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
 #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
     background-color: #888;
 }
 .dashBoardDrp {
     margin-top: 30px;
     border-top: 5px solid rgb(22, 86, 142) !important;
 }
 .dashBoardDrp.dropdown-menu>li>a {
     padding: 15px 20px;
     font-size: 18px;
     border-bottom: 2px solid #ccc;
     /* font-family: sans-serif; */
 }
 .dashBoardDrp.dropdown-menu>li:last-of-type>a {
     border-bottom: 0 !important;
 }
 /* menu */
 .color-blue{color: #32a2f8;}
 .f-size16{font-size:16px;}
 .f-size15{font-size: 15px;}
 .f-size20{font-size: 20px;}
 .f-size24{font-size: 24px;}
 .cursorPointer{cursor: pointer;}
 .p20{
     padding: 20px;
 }
 .color-fff{color:#fff;}
 .color-000{color: #000;}
 .m_left40{margin-left: -40px;}
 .m-top200{margin-top: 200px;}
 .m-top20{margin-top:20px;}
 .p10{padding: 10px;}
 .pleft0{padding-left: 0px; }
 .ptop140{padding-top:120px;}
 .m_b10{
     margin-bottom: 10px;
 }
 .listStyle_none{
     list-style: none;
 }
 .f_right{
     float: right;
 }
 .f_left{
     float: left;
 }
 .m-top140{margin-top: 140px;}
 .m-btm20{margin-bottom: 20px;}
 .mbtm10{margin-bottom: 10px;}
 .paddingLeftRightZero{
     padding-right: 0px;
     padding-left: 0px;
 }
 .bgColorHeight{
     background:#fbfbfbd1;min-height:500px;position: relative;display: table;width: 100%;
 }
 .borderStyle{
     border-radius: 4px;
     border: 1px solid #ddd;
     background: #fff;
     min-height :230px;
     position: relative;
     display: table;
 }
 .m_top40{margin-top: 40px;}
 .f-bold{font-weight: bold;}
 .divCenter{
     margin: auto;
     display: table;
     left: 0;
     right: 0;
 }
 .chart-legend .legend-labels {
     width: auto !important;
 }
 .viewBtnStyle{
     left: 0;
     right: 0;
     margin: auto;
     display: table;
     background: #32a2f8;
     border: 0px;
     border-radius: 8px;
     padding: 10px;
     color :#fff;
 }
 .highcharts-container{
     margin-top: -105px !important;
     width: 100px !important;
     height: 100% !important;
     overflow: visible !important;
 } 
 body svg:not(:root) {
     overflow: visible !important;
     width: 280px !important;
     font-size: 30px !important;
 }
 .btndaily{
    z-index: 999;
    position: absolute;
    top: 118px;
 }
 .libtn{
    padding: 5px 10px;
    border: 1px solid #5ebb96;
    background: #5ebb96;
    margin-right: 10px;
    cursor: pointer;
    color: white;
 }
 .liststyleNone{    list-style: none;}
 .f_left{float:left;}
 .chart1234 svg:not(:root) {
    overflow: visible !important;
    width: 50px !important;
    font-size: 30px !important;
    margin-top: 130px;
}

.charts1234 svg:not(:root) {
    overflow: visible !important;
    width: 580px !important;
    font-size: 30px !important;
    margin-top: 130px;
}
 #highcharts-lpf5y5v-0, #highcharts-stmicin-0 { overflow: visible !important;  }
 .highcharts-point  {
     width: 30px !important;
 }
 .highcharts-label text, .highcharts-label tspan {
     font-size:30px !important;
 }
 agm-map[_ngcontent-c4] {
     height: 600px !important;
 }
 .icccmap>agm-map{height: 595px !important;}
 .airMap agm-map{height: 495px !important;}
 .electricitymap agm-map{height: 522px !important;}
 .electricitymap{margin-top: 80px;}
 .drpDwnStyle{
     padding: 10px;
     color: #fff;
     background: transparent;
     border: 1px solid #1cf6cc;
     border-radius: 5px;
     cursor: pointer;
 }
 .alertStyle{
     color: red;
     text-align: center;
     margin-top: 25px;
     font-size: 34px;
     font-weight: bold;
 }
 .alertPosition{
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     top: -125px;
 }
 .opacity1{opacity: 1;}
 .btnIncident01{
     margin: 10px;
     background: #7d7676;
     color: #fff;
     outline: none;
     font-size: 16px;
 }
 .btnIncident01:hover, .btnIncident01:active, .btnIncident01:focus, .btnIncident01.active {
     background: #32a2f8;
     border: 1px solid #32a2f8;
     color: #fff;
 }
 .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
     color: #333;
     background-color: #fff;
     border-color: #fff;
 }
 .dashboardDrpdwn{
     border-color: #fff;
     margin-top: 23px;
     /* font-size:18px; */
 }
 .dashboardDrpdwn:hover, .dashboardDrpdwn:focus, .dashboardDrpdwn:active{
     background-color: #fff !important;
     border-color: #fff !important;
     outline: none !important;
     box-shadow: none !important;
 }
 .m-right20 { margin-right: 20px; }
 .p30 { padding: 15px; }
 .mbtm25 { margin-bottom: 10px; }
 #digitalDashboard .agm-map-container-inner.sebm-google-map-container-inner {
     height: 420px !important;
 }
 .digitalAsset  {
     padding: 0px !important;
 }
 .p-20 { padding: 15px 20px 0px; }
 .borderArea { border: 1px solid #5fbb96; }
 .titleArea {
    background: #f5f5f5;
    padding: 5px 15px;
    color: #000;
    font-family: sans-serif !important;
    font-size: 16px;
 }
 .titleAreaLine {
     color: #60bb97;
     border-bottom: 2px solid #60bb97;
     font-size: 24px;
     font-family: sans-serif !important;
     padding: 10px;
     margin-bottom: 20px;
 }
 .incidentLists { padding-left: 24px; }
 .incidentLists .panel {
     margin-bottom: 5px;
     border: 0;
     box-shadow: none !important;
     display: list-item;
     list-style: lower-roman;
 }
 .displaynone { display: none; }
 .panel-fullscreen .displaynone , .panel-fullscreen1 .displaynone { display: block; }
 body .glyphicon { font-family: 'Glyphicons Halflings' !important; }
 /* .incidentLists .panel-default>.panel-heading {
     background-color: transparent !important;
     border: 0;
 } */
 .tableNature[_ngcontent-c6] td[_ngcontent-c6] {
     padding: 4px;
     font-size: 13px;
 }
 #mapArea .sebm-google-map-container {  
     height: 265px !important;
 }
 #mapArea2 .sebm-google-map-container { height: 270px !important; }
 .ngx-charts{
     margin-left: -42px !important;
 }
 .naturalArea {
     padding: 25px;
 }
 .naturalContainer { min-height: 570px;}
 .areaStyle1 {
     background: #fff;
     border: 1px solid #ccc;
     padding: 20px;
     border-radius: 10px;
 }
 .titleStyle1 {
     font-size: 24px;
     font-weight: bold;
     color: #60bb97;
     margin-bottom: 25px;
 }
 .m-top15 { margin-top: 15px; }
 .hrStyle1 {
     margin: 10px auto;
     width: 40px;
     border: 1px solid #e62f2d;
 }
 .incidentBg { padding: 20px;}
 .hrStyle2 {
     margin: 10px auto;
     width: 15%;
     border: 1px solid #fff;
 }
 .socialMngmntLink {
     color: #60bb97 !important;
     text-decoration: none;
     font-size: 18px;
     padding-top: 20px !important;
     display: table;
 }
 .tableNature { width: 90%; }
 .borderless td, .borderless th {
     border: none !important;
 }
 /* #tabsArea > ul > li {
     border-bottom: 0;
     background: #60bb97;
     margin-right: 8px;
     width: 67px;
     text-align: center;
     height: 43px;     
     } */
     /* #parentTabs { margin-bottom: 20px; } */
     /* #tabsArea #parentTabs > ul > li { width: 100% !important; } */
    
     /* #parentTabs li  a {
        background: #5fbb96;
        color: #fff;
     }
     #parentTabs.nav-tabs>li.active>a, #parentTabs.nav-tabs>li.active>a:focus, #parentTabs.nav-tabs>li.active>a:hover {
         color: #5fbb96;
         background: #fff;
         border: 1px solid #5fbb96;
         border-radius: 0 !important;
         -moz-border-radius: 0 !important;
         -webkit-border-radius: 0 !important;
     } */
     /* #tabsArea.multitabs > ul > li > a    {
         
         display:inline-block !important; 
         width: 65px;
         white-space: nowrap;
         overflow:hidden !important;
         text-overflow: ellipsis;
     }
     body #tabsArea #parentTabs > ul > li > a {
        display: block;
        width: auto;
        white-space: nowrap !important;
        overflow: initial !important;
        text-overflow: unset !important;
     }
 #tabsArea .nav>li>a { 
     padding: 10px 4px;
     font-family: sans-serif;
 } */
  /* #tabsArea .nav>li>a:focus, #tabsArea .nav>li>a:hover {
     text-decoration: none;
     background-color: #fff;
     color: #5fbb96 !important;
     border-radius: 0;
 }
 #tabsArea .tab-content {
     border: 1px solid #ccc;
     border-top: 0;
     min-height: 185px;
     padding: 20px;
     font-size: 16px;
     font-family: sans-serif !important;
     margin-bottom: 20px;
 }
 #tabsArea .nav-tabs>li a { color: #fff; }
 #tabsArea .nav-tabs>li.active>a, 
 #tabsArea .nav-tabs>li.active>a:focus, 
 #tabsArea .nav-tabs>li.active>a:hover {
     color:#5fbb96;
     cursor: default;
     background-color: #fff;
     border: 1px solid #ddd;
     border-bottom-color: transparent;
     border-radius: 0;
 }  */
 .tab-content {
     border: 0px !important;
     border-top: 0;
     min-height: 170px;
     padding: 20px;
     /* font-size: 18px; */
     font-family: sans-serif !important;
 }
 .dashboardTabs .weatherDrpdwn  { 
     position: absolute;
     right: -3px;
     top: -5px;
  }

  #tabsArea.dashboardTabs  > ul > li { width: auto !important; }

  .weatherDrpdwn 
 .latestNewsMain {
     margin: 10px 0;
 }
 .latestNews {
     background: #61bc97;
     color: #fff;
     padding: 10px;
     font-family: sans-serif !important;
 }
 .holder { 
     background-color:rgb(255, 255, 255);
     width:100%;
     /* height:250px;
     overflow:auto; */
     padding:10px;
     /* border: 1px solid #60bc96; */
     position: relative;

     height: 200px;
     display: block;
     overflow-y:scroll; 
   }
   .holder .mask {
     position: relative;
     left: 0px;
     top: 10px;
     width: 100%;
     height:150px;
     overflow: hidden;
   }
   .holder ul {
     list-style:none;
     margin:0;
     padding:0;
     position: relative;
   }
   .holder ul li {
     padding:10px 0px;
   }
   .holder ul li a {
     color:darkred;
     text-decoration:none;
     font-family: sans-serif;
   }
   .positionRelative {
       position: relative;
   }
   /* #digitalDashboard {
     position: fixed;
     top: 14%;
     left: 2%;
     width: 55%;
     height: 600px;
     overflow: hidden;
   } */
   #ticker01 { 
       position: absolute;

   }
   /* #tabsArea.dashboardTabs ul li { width: auto; }
   #tabsArea.dashboardTabs ul.nav-tabs li { 
       width: auto;
       height: 43px; 
    }
   #tabsArea.dashboardTabs ul li a {
     font-family: sans-serif !important;
   } */
   .allTxtCenter { width: 20% !important; }
   .listStyle_none .allTxtCenter:last-of-type { border-right: 0px !important; }
   .airPresureStyle, .waterLevelBg, .width100 { width: 100% !important; }
  #tabsComponent .agm-map-container-inner { height: 550px; }
  #tabsArea .tab-content a { font-family: sans-serif !important; }
  /* full screen **/
   .panel-actions {
     margin-top: -20px;
     margin-bottom: 0;
     text-align: right;
   }
   .panel-actions a {
     color:#333;
   }
   .panel-fullscreen, .panel-fullscreen1 {
       display: block;
       z-index: 9999;
       position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
       overflow: auto;
   } 
    /* full screen **/
   #tabsArea .tab-content {
     border: 1px solid #ccc;
     border-top: 0;
     /* height: 140px; */
     padding: 20px;
     font-family: sans-serif !important;
     margin-bottom: 10px;
     /* overflow :auto; */
 } 
 .tabCls {
    border: 1px solid #ccc;
    border-top: 0;
    height: 275px;
    padding: 20px;
    font-family: sans-serif !important;
    margin-bottom: 10px;
    overflow :auto;
}
 .viewMapStyle {
    position: absolute;
    right: 18px;
    top: 3px;
    height: 34px;
    border-radius: 5px;
    background: transparent;
    font-weight: normal !important;
    padding: 0 12px;
 }  
 .tab-pane.fade.active.in .selected a {
     color: #5fbb96;
     text-decoration: none;
 }

 .exapndStyle{
    position: absolute;
    right: 15px;
    top: 45px;
    background: transparent !important;
    border: 0px !important;
    box-shadow: none ;
}
.exapndStyle img{width:20px;}
/* 
.marquee {
    position: relative;
    animation: marquee 2s linear infinite;  
  }
  @keyframes marquee {
    0% {
      top: 10em
    }
    100% {
      top: -2em
    }
  } */

  /* #tabsArea .panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
  } */
  #tabsArea .panel-actions a {
    color:#333;
  }
  #tabsArea .panel-fullscreen, #tabsArea .panel-fullscreen1  {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  /* #tabsArea .panel-default>.panel-heading {
    color: none !important;
    background-color: #fcfcfc;
    border-color: transparent;
}
#tabsArea .panel-heading {
    padding: 0px;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
} */
/* #tabsArea .panel {
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: none;
} */
/* #tabsArea .panel-default {
    border-color: transparent;
} */
#tabsArea .panel-body {
    padding: 0px;
}
/* #tabsArea .nav-tabs>li a {
    background: #5fbb96;
    color: #fff;
} */
#tabsArea .glyphicon {
    position: relative;
    top: 28px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    right: 0px;
    background: #9999b3;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}
/* #tabsArea .nav-tabs>li.active>a, #tabsArea .nav-tabs>li.active>a:focus, #tabsArea .nav-tabs>li.active>a:hover {
    color: #5fbb96;
    background: #fff;
    border: 1px solid #5fbb96 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
#tabsArea .nav>li>a:focus, #tabsArea .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #5fbb96 !important;
    border-radius: 0;
    border: 1px solid #5fbb96;
} */
/* .chartContent {
    height: 450px !important;
} */
#nav1 li.active a{
    color:red;
}

#navMenus li.active a, #navMenus1 li.active a, #navMenus2 li.active a, #navMenus3 li.active a, #navMenus4 li.active a,#navMenus5 li.active a {
    color: #999;
    /* background: #eb3339; */
    padding: 1px 6px;
    border: 1px solid #999;
}
#navMenus,#navMenus1,#navMenus2,#navMenus3,#navMenus4,#navMenus5 {
    /* list-style:none; */
    line-height: 25px;
}

#ticker01{
    width: 90%;
    height: 150px;
    overflow:auto;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #999;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
}
.divCenter{
    left: 0;
    right: 0;
    margin: auto;
    display: table;
}


/* .smartParkingCenter>ngx-charts-advanced-pie-chart>div{
    width: 268px;
} */
.smartParkingCenter{
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    display: table;
    top: -45px;
}
.smartParkingCenter .ngx-charts {
    margin-left: 145px !important;
}
.smartParkingCenter .advanced-pie-legend{
    width: 200px !important;
    left: 170px !important;
    right: 0 !important;
    margin: auto;
    display: block;
}
.smartWifi{
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    display: table;
    top: -45px;
}
.smartWifi .ngx-charts {
    margin-left: 150px !important;
}
.smartWifi .advanced-pie-legend{
    width: 215px !important;
    left: 170px !important;
    right: 0 !important;
    margin: auto;
    display: block;
}


.coimbaterCenter11{
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    display: table;
    top: -45px;
}
.coimbaterCenter11 .ngx-charts {
    margin-left: 45px !important;
}
.coimbaterCenter11 .advanced-pie-legend{
    width: 400px !important;
    left: 45px !important;
    right: 0 !important;
    margin: auto;
    display: block;
}

/* .w123 .ngx-charts {
    margin-left: 140px !important;
} */
.w123 .advanced-pie-legend{
    width: 240px !important;
    left: -32px !important;
    right: 0 !important;
    margin: auto;
    display: block;
}

.coimbaterCenter{
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    display: table;
    top: -45px;
}
.coimbaterCenter .ngx-charts {
    margin-left: 140px !important;
}
.coimbaterCenter .advanced-pie-legend{
    width: 215px !important;
    left: 140px !important;
    right: 0 !important;
    margin: auto;
    display: block;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    z-index: 99;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 8px 8px;
    color: #999;
}
.lastChildACtiveUI li:last-child {
    color: #000;
    padding: 1px 6px;
    border: 1px solid #5fbb96;
}
.autoScroll11{
    height: 174px;
    overflow-y: auto;
}
.hidentxt {
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}
.carousel-inner.slide>.item>a>img, .carousel-inner.slide>.item>img{
    height: 328px;
}
.slideimgHeight{
    width: 1300px;
    margin-top: 48px;
}



#width200123 .advanced-pie-legend {
    width: 240px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 0px !important;
}
.airmasureTable .tdPaddg{
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
  }
  .chartwater svg{
    padding-left: 20px !important;
}
