<!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <ngx-charts-heat-map
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi1"
      [legend]="showLegend"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-heat-map>
 
  </div> -->
  <!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <chart [options]="options" (load)="onChartload($event)" style="width: 110px; height: 510px; margin: 0 auto"></chart>

  </div> -->