agm-map {
    height: 450px;
    /* width: 1500px; */
  }
  
  
  * {
    font-family: Lato;
  }
  .btnicc{
    left: 0px;
    right: 0px;
    margin: auto;
    display: table;
    text-align: center;
    margin-left: 30px;
    background: #a3ccff;
    border: 0;
    padding: 6px 15px;
    color:#fff;
  }